{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SWIEP - Sistema Web de Información Eclesial del Paraguay</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Sistema Web de Información Eclesial del Paraguay">
        <meta name="author" content="Haiko Eitzen">

        <!-- Bootstrap core CSS -->
        <link href="{% static "swiep/css/bootstrap.css" %}" rel="stylesheet">

        <!-- Custom styles for this template -->
    {% block css %}
    {% endblock %}

        <!-- We don't support IE8 -->

        <!-- Copyright (C) 2017 Haiko Eitzen and Nico Epp                         -->
        <!-- This Source Code Form is subject to the terms of the Mozilla Public  -->
        <!-- License, v. 2.0. If a copy of the MPL was not distributed with this  -->
        <!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.             -->
    </head>

    <body>
    {% block body %}
    {% endblock %}

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
        <script src="{% static "swiep/js/jquery-1.11.2.min.js" %}"></script>
        <script src="{% static "swiep/js/bootstrap.js" %}"></script>
    {% block javascript %}
    {% endblock %}
    </body>
</html>
