{% extends 'workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Iglesias</span>
                            {% if perms.swiep.add_church %}
                            <a title="Agregar" class="btn btn-sm btn-primary pull-right" href="{% url 'church_create' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Nombre</th>
                                        <th>Denominación</th>
                                        <th>Convención</th>
                                        <th>Departamento</th>
                                        <th>Localidad</th>
                                        <th>Teléfono</th>
                                        <th>Idioma</th>
                                        <th>Membresía</th>
                                        <th>Asistencia</th>
                                        {% if perms.swiep.change_church %}
                                        <th width="40"></th>
                                        {% endif %}
                                        {% if perms.swiep.delete_church %}
                                        <th width="40"></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in churches %}
                                    <tr>
                                        <td><span class="pull-right"><strong>{{ forloop.counter }}</strong></span></td>
                                        <td>
                                            <a href="{% url 'church_read' elem.pk %}">{{ elem.name|truncatechars:40 }}</a>
                                        </td>
                                        <td>{{ elem.denomination.name|truncatechars:30 }}</td>
                                        <td>{{ elem.conference.acronym|truncatechars:20 }}</td>
                                        <td>{{ elem.department|truncatechars:20 }}</td>
                                        <td>{{ elem.city|truncatechars:20 }}</td>
                                        <td>{{ elem.phone_number|truncatechars:20 }}</td>
                                        <td>{{ elem.language.name|truncatechars:20 }}</td>
                                        <td>{{ elem.membership|truncatechars:20 }}</td>
                                        <td>{{ elem.assistance|truncatechars:20 }}</td>
                                        {% if perms.swiep.change_church %}
                                        <td>
                                            <a href="{% url 'church_update' elem.pk %}">
                                                <span title="Modificar" class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                        {% if perms.swiep.delete_church %}
                                        <td>
                                            <a href="{% url 'church_delete' elem.pk %}">
                                                <span title="Eliminar" class="glyphicon glyphicon-remove pull-right"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td><p>No hay iglesias para mostrar</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
