{% extends 'workspace.html' %}
{% load bootstrap_tags %}
{% load leaflet_tags %}
{# Maybe use http://stackoverflow.com/a/27239186 instead of django-forms-bootstrap #}
{# More ideas to tweak form with css: http://stackoverflow.com/a/18962481 #}
{# Put leaflet tags for map_location field: https://github.com/makinacorpus/django-leaflet#in-forms #}

{% block css %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block javascript %}
    {{ block.super }}
    {% leaflet_js plugins="forms" %}
{% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10 col-xs-12">
                    {% if CRUD == 'R' %}
                    <form class="form-horizontal" action=".">
                    {% else %}
                    <form class="form-horizontal" action="." method="post" novalidate>
                    {% endif %}
                        {% csrf_token %}

                        {% if CRUD == 'U' and perms.swiep.change_church %}
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                {% if perms.swiep.delete_church %}
                                <a class="btn btn-danger" href="{% url 'church_delete' id %}" role="button">
                                    Eliminar
                                </a>
                                {% endif %}
                                <a class="btn btn-default" href="{% url 'church_read' id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% elif CRUD == 'C' and perms.swiep.add_church%}
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Agregar iglesia</button>
                                <a class="btn btn-default" href="{% url 'church_list' %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% elif CRUD == 'R' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ church.name }}</p>
                            </div>
                        </div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">Pastor</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    {% if pastor and pastor.leader %}
                                        {{ pastor.leader.first_names }}
                                        {{ pastor.leader.last_names }}
                                    {% else %}Ninguno {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Denominación</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if church.denomination %}{{ church.denomination.name }}
                                                               {% else %}Ninguna {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Convención</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if church.conference %}{{ church.conference.name }}
                                                               {% else %}Ninguna {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Idioma</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if church.language %}{{ church.language.name }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Teléfono</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if church.phone_number != '' %}{{ church.phone_number }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if church.email != '' %}{{ church.email }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sitio web</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if church.web_site != '' %}{{ church.web_site }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Departamento</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if church.department != '' %}{{ church.department }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Localidad</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if church.city != '' %}{{ church.city }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dirección</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if church.address != '' %}{{ church.address }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        {{ map|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fundación</label>
                            <div class="col-sm-2">
                                <p class="form-control-static">{{ church.foundation_year }}</p>
                            </div>
                            <label class="col-sm-2 control-label">Membresía</label>
                            <div class="col-sm-2">
                                <p class="form-control-static">{{ church.membership }}</p>
                            </div>
                            <label class="col-sm-2 control-label">Asistencia</label>
                            <div class="col-sm-2">
                                <p class="form-control-static">{{ church.assistance }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Posee terreno</label>
                            <div class="col-sm-2">
                                <p class="form-control-static">{% if church.owns_lot %} Sí
                                                               {% else %} No {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Posee edificio</label>
                            <div class="col-sm-2">
                                <p class="form-control-static">{% if church.owns_building %} Sí
                                                               {% else %} No {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Iglesia madre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if church.mother_church %}{{ church.mother_church.name }}
                                                               {% else %}Ninguna {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observación</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if church.observation != '' %}{{ church.observation }}
                                                               {% else %}Ninguna {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                {% if perms.swiep.change_church %}
                                <a href="{% url 'church_update' id %}" class="btn btn-danger">Editar</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if perms.swiep.read_leader %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title">Líderes</span>
                                {% if perms.swiep.add_leader %}
                                <a title="Agregar" class="btn btn-sm btn-primary pull-right"
                                   href="{% url 'churchleader_create_at_church' id %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                {% endif %}
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><span class="pull-right">#</span></th>
                                            <th>Nombre</th>
                                            <th>Ministerio</th>
                                            <th colspan="3">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for elem in church.leaders.all %}
                                        <tr>
                                            <td><span class="pull-right"><strong>{{ forloop.counter }}</strong></span></td>
                                            <td>
                                                <a href="{% url 'leader_read' elem.leader.pk %}">
                                                    {{ elem.leader|truncatechars:50 }}</a>
                                            </td>
                                            <td>{{ elem.ministry|truncatechars:50 }}</td>
                                            <td style="width:40px">
                                                <a href="{% url 'churchleader_read_at_church' id elem.pk %}">
                                                    <span title="Ver" class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </td>
                                            {% if perms.swiep.change_churchleader %}
                                            <td style="width:40px">
                                                <a href="{% url 'churchleader_update_at_church' id elem.pk %}">
                                                    <span title="Modificar" class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </td>
                                            {% endif %}
                                            {% if perms.swiep.delete_churchleader %}
                                            <td style="width:40px">
                                                <a href="{% url 'churchleader_delete_at_church' id elem.pk %}">
                                                    <span title="Eliminar" class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td></td>
                                            <td><p>No hay líderes para mostrar</p></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                        {% elif CRUD == 'D' and perms.swiep.delete_church %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ church.name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
                                <a class="btn btn-default" href="{% url 'church_read' id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endblock %}
