{% extends 'workspace.html' %}
{% load bootstrap_tags %}
{% load leaflet_tags %}
{# Maybe use http://stackoverflow.com/a/27239186 instead of django-forms-bootstrap #}
{# More ideas to tweak form with css: http://stackoverflow.com/a/18962481 #}
{# Put leaflet tags for map_location field: https://github.com/makinacorpus/django-leaflet#in-forms #}

{% block css %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block javascript %}
    {{ block.super }}
    {% leaflet_js plugins="forms" %}
{% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10 col-xs-12">
                    {% if CRUD == 'R' %}
                    <form class="form-horizontal" action=".">
                    {% else %}
                    <form class="form-horizontal" action="." method="post" novalidate>
                    {% endif %}
                        {% csrf_token %}

                        {% if CRUD == 'U' and perms.swiep.change_churchleader %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Líder</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ churchleader.leader }}</p>
                            </div>
                        </div>
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                {% if perms.swiep.delete_churchleader %}
                                <a class="btn btn-danger"
                                   href="{% url 'churchleader_delete_at_leader' leader_id id %}" role="button">
                                   Eliminar
                                </a>
                                {% endif %}
                                <a class="btn btn-default" href="{% url 'leader_read' leader_id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% elif CRUD == 'C' and perms.swiep.add_churchleader %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Líder</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ leader }}</p>
                            </div>
                        </div>
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Agregar ministerio</button>
                                <a class="btn btn-default" href="{% url 'leader_read' leader.id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% elif CRUD == 'R' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Líder</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ churchleader.leader }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Iglesia</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ churchleader.church }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ministerio</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ churchleader.ministry }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                {% if perms.swiep.change_churchleader %}
                                <a class="btn btn-danger"
                                   href="{% url 'churchleader_update_at_leader' leader_id id %}" role="button">
                                    Editar
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% elif CRUD == 'D' and perms.swiep.delete_churchleader %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Líder</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ churchleader.leader }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Iglesia</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ churchleader.church }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ministerio</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ churchleader.ministry }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
                                <a class="btn btn-default" href="{% url 'leader_read' leader_id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endblock %}
