{% extends 'workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Convenciones</span>
                            {% if perms.swiep.add_conference %}
                            <a title="Agregar" class="btn btn-sm btn-primary pull-right" href="{% url 'conference_create' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Acrónimo</th>
                                        <th>Nombre</th>
                                        <th>Denominación</th>
                                        <th>Fundación</th>
                                        <!--<th>Iglesias</th>-->
                                        {% if perms.swiep.change_conference %}
                                        <th width="40"></th>
                                        {% endif %}
                                        {% if perms.swiep.delete_conference %}
                                        <th width="40"></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in conferences %}
                                    <tr>
                                        <td><span class="pull-right"><strong>{{ forloop.counter }}</strong></span></td>
                                        <td>
                                            <a href="{% url 'conference_read' elem.pk %}">{{ elem.acronym|truncatechars:20 }}</a>
                                        </td>
                                        <td>{{ elem.name|truncatechars:80 }}</td>
                                        <td>{{ elem.denomination.name|truncatechars:30 }}</td>
                                        <td>{{ elem.foundation_year|truncatechars:20 }}</td>
                                        {% if perms.swiep.change_conference %}
                                        <td>
                                            <a href="{% url 'conference_update' elem.pk %}">
                                                <span title="Modificar" class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                        {% if perms.swiep.delete_conference %}
                                        <td>
                                            <a href="{% url 'conference_delete' elem.pk %}">
                                                <span title="Eliminar" class="glyphicon glyphicon-remove pull-right"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td><p>No hay convenciones para mostrar</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
