{% extends 'workspace.html' %}
{% load bootstrap_tags %}
{% load leaflet_tags %}
{# Maybe use http://stackoverflow.com/a/27239186 instead of django-forms-bootstrap #}
{# More ideas to tweak form with css: http://stackoverflow.com/a/18962481 #}
{# Put leaflet tags for map_location field: https://github.com/makinacorpus/django-leaflet#in-forms #}

{% block css %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block javascript %}
    {{ block.super }}
    {% leaflet_js plugins="forms" %}
{% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10 col-xs-12">
                    {% if CRUD == 'R' %}
                    <form class="form-horizontal" action=".">
                    {% else %}
                    <form class="form-horizontal" action="." method="post" novalidate>
                    {% endif %}
                        {% csrf_token %}

                        {% if CRUD == 'U' and perms.swiep.change_conference %}
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                {% if perms.swiep.delete_conference %}
                                <a class="btn btn-danger" href="{% url 'conference_delete' id %}" role="button">
                                    Eliminar
                                </a>
                                {% endif %}
                                <a class="btn btn-default" href="{% url 'conference_read' id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% elif CRUD == 'C' and perms.swiep.add_conference %}
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Agregar convención</button>
                                <a class="btn btn-default" href="{% url 'conference_list' %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% elif CRUD == 'R' %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ conference.name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Acrónimo</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{ conference.acronym }}</p>
                            </div>
                            <label class="col-sm-2 control-label">Fundación</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{{ conference.foundation_year }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Denominación</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if conference.denomination %}{{ conference.denomination.name }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Teléfono</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if conference.phone_number != '' %}{{ conference.phone_number }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if conference.email != '' %}{{ conference.email }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Sitio web</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if conference.web_site != '' %}{{ conference.web_site }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Departamento</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if conference.department != '' %}{{ conference.department }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Localidad</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if conference.city != '' %}{{ conference.city }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dirección</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if conference.address != '' %}{{ conference.address }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observación</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if conference.observation != '' %}{{ conference.observation }}
                                                               {% else %}Ninguna {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                {% if perms.swiep.change_conference %}
                                <a href="{% url 'conference_update' id %}" class="btn btn-danger">Editar</a>
                                {% endif %}
                            </div>
                        </div>
                        {% elif CRUD == 'D' and perms.swiep.delete_conference %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ conference.name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
                                <a class="btn btn-default" href="{% url 'conference_read' id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endblock %}
