{% extends 'workspace.html' %}
{% load bootstrap_tags %}
{% load leaflet_tags %}
{# Maybe use http://stackoverflow.com/a/27239186 instead of django-forms-bootstrap #}
{# More ideas to tweak form with css: http://stackoverflow.com/a/18962481 #}
{# Put leaflet tags for map_location field: https://github.com/makinacorpus/django-leaflet#in-forms #}

{% block css %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
{% endblock %}

        {% block workspace %}
            <div class="col-md-8">
            {% if CRUD == 'R' %}
                <form class="form-horizontal">
            {% else %}
                <form class="form-horizontal" method="post">
            {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="inputName">Nombre</label>
                        <div class="col-sm-10">
                        {% if CRUD == 'C' and perms.auth.add_group or CRUD == 'U' and perms.auth.change_group %}
                            <input type="text" class="form-control" id="inputName" name="name"
                                   value="{{ group.name }}" maxlength="20" autofocus>
                        {% else %}
                            <p class="form-control-static">{{ group.name }}</p>
                        {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Permisos</label>
                        <div class="col-sm-10">
                        {% if CRUD == 'C' and perms.auth.add_group or CRUD == 'U' and perms.auth.change_group %}
                            <div class="row assignments">
                                <div class="col-sm-5">
                                    <label for="are_selected">Permisos asignados</label>
                                    <select class="form-control" id="are_selected" multiple>
                                    {% for perm in perms_assigned %}
                                        <option value="{{ perm.pk }}">{{ perm.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <div class="btn-assign">
                                        <button type="button" id="assign" class="btn btn-success">
                                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="btn-assign">
                                        <button type="button" id="deassign" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label for="can_be_selected">Permisos disponibles</label>
                                    <select class="form-control" id="can_be_selected" multiple>
                                    {% for perm in perms_available %}
                                        {% if perm not in perms_assigned %}
                                        <option value="{{ perm.pk }}">{{ perm.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </div>
                            {# This is the only one of the three selects sent to django #}
                            {# It's not visible to the frontend user #}
                                <div class="hidden">
                                    <select name="perms" id="form_list" multiple>
                                    {% for perm in perms_assigned %}
                                        <option value="{{ perm.pk }}" selected>{{ perm.name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% elif CRUD == 'R' or CRUD == 'D' and perms.auth.delete_group %}
                            <div class="row assignments">
                                <div class="col-sm-8 overflow-y-200">
                                {% for perm in group.permissions.all %}
                                    <p>{{ forloop.counter }}. {{ perm.name }}</p>
                                {% empty %}
                                    <p class="form-control-static">Ningún permiso asignado</p>
                                {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-2">
                        {% if CRUD == 'C' and perms.auth.add_group %}
                            <button type="submit" class="btn btn-primary">Agregar grupo</button>
                            <a class="btn btn-default" href="{% url 'group_list' %}" role="button">
                                Cancelar
                            </a>
                        {% elif CRUD == 'U' and perms.auth.change_group %}
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            {% if perms.auth.delete_group %}
                            <a class="btn btn-danger" href="{% url 'group_delete' id %}" role="button">
                                Eliminar
                            </a>
                            {% endif %}
                            <a class="btn btn-default" href="{% url 'group_read' id %}" role="button">
                                Cancelar
                            </a>
                        {% elif CRUD == 'D' and perms.auth.delete_group %}
                            {% if count < 1 %}
                            <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
                            {% else %}
                            No se puede eliminar porque hay {{ count }} usuario(s) en este grupo.
                            {% endif %}
                            <a class="btn btn-default" href="{% url 'group_read' id %}" role="button">
                                Cancelar
                            </a>
                        {% elif perms.auth.change_group %}
                            <a class="btn btn-danger" href="{% url 'group_update' id %}" role="button">
                                Editar
                            </a>
                        {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        {% endblock %}

    {% block javascript %}
        <script type="text/javascript">
            $('#assign').click(function (e) {
                var sel = $('#can_be_selected').find('option:selected');
                sel.remove();
                sel.appendTo('#are_selected');
                sel = sel.clone();
                sel.appendTo('#form_list');
                sel.prop('selected', true);
            });
            $('#deassign').click(function (e) {
                var sel = $('#are_selected').find('option:selected');
                sel.remove();
                sel.appendTo('#can_be_selected');
                sel.each(function (index) {
                    $('#form_list').find('[value="' + $(this).val() + '"]').remove()
                });
            });
        </script>
    {% endblock %}
