{% extends "workspace.html" %}

        {% block title_breadcrumbs %}
            <h1>{{ page_title }}</h1>
            <ol class="breadcrumb">
            {% for b in breadcrumb %}
                <li><a title="{{ b.0 }}" href="{{ b.1 }}">{{ b.0|truncatechars:20 }}</a></li>
            {% endfor %}
                <li>{{ page_name }}</li>
            </ol>
        {% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <div class="row">
                    {% for entry in menu_entries %}
                        <div class="col-sm-12 col-md-6">
                            <div class="panel panel-default menu-item">
                                <div class="panel-body">
                                    <div class="menu-title">
                                        <a href="{{ entry.1 }}">{{ entry.0 }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}
