{% extends 'workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Líderes</span>
                            {% if perms.swiep.add_leader %}
                            <a title="Agregar" class="btn btn-sm btn-primary pull-right" href="{% url 'leader_create' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Apellido(s)</th>
                                        <th>Nombre(s)</th>
                                        <th>Iglesia</th>
                                        <th>Fecha de Nac.</th>
                                        <th>Nacionalidad</th>
                                        <th>Nivel Educativo</th>
                                        {% if perms.swiep.change_leader %}
                                        <th width="40"></th>
                                        {% endif %}
                                        {% if perms.swiep.delete_leader %}
                                        <th width="40"></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in leaders %}
                                    <tr>
                                        <td><span class="pull-right"><strong>{{ forloop.counter }}</strong></span></td>
                                        <td>
                                            {% if perms.swiep.read_leader %}
                                            <a href="{% url 'leader_read' elem.pk %}">{{ elem.last_names|truncatechars:30 }}</a>
                                            {% else %}
                                            {{ elem.last_names|truncatechars:30 }}
                                            {% endif %}
                                        </td>
                                        <td>{{ elem.first_names|truncatechars:30 }}</td>
                                        <td>{{ elem.member_of.name|truncatechars:30 }}</td>
                                        <td>{{ elem.birthdate|truncatechars:20 }}</td>
                                        <td>{{ elem.nationality.name|truncatechars:20 }}</td>
                                        <td>{{ elem.maximum_education_level|truncatechars:20 }}</td>
                                        {% if perms.swiep.change_leader %}
                                        <td>
                                            <a href="{% url 'leader_update' elem.pk %}">
                                                <span title="Modificar" class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                        {% if perms.swiep.delete_leader %}
                                        <td>
                                            <a href="{% url 'leader_delete' elem.pk %}">
                                                <span title="Eliminar" class="glyphicon glyphicon-remove pull-right"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td><p>No hay líderes para mostrar</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
