{% extends 'workspace.html' %}
{% load bootstrap_tags %}
{% load leaflet_tags %}
{# Maybe use http://stackoverflow.com/a/27239186 instead of django-forms-bootstrap #}
{# More ideas to tweak form with css: http://stackoverflow.com/a/18962481 #}
{# Put leaflet tags for map_location field: https://github.com/makinacorpus/django-leaflet#in-forms #}

{% block css %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block javascript %}
    {{ block.super }}
    {% leaflet_js plugins="forms" %}
{% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10 col-xs-12">
                    {% if CRUD == 'R' %}
                    <form class="form-horizontal" action=".">
                    {% else %}
                    <form class="form-horizontal" action="." method="post" novalidate>
                    {% endif %}
                        {% csrf_token %}

                        {% if CRUD == 'U' and perms.swiep.change_leader %}
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                {% if perms.swiep.delete_leader %}
                                <a class="btn btn-danger" href="{% url 'leader_delete' id %}" role="button">
                                    Eliminar
                                </a>
                                {% endif %}
                                <a class="btn btn-default" href="{% url 'leader_read' id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% elif CRUD == 'C' and perms.swiep.add_leader %}
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                            {% if has_hidden_data %}
                                <button type="submit"
                                        name="from_pastor_save_btn"
                                        value="true"
                                        class="btn btn-primary">
                                    Agregar líder
                                </button>
                                <button type="submit"
                                        name="from_pastor_cancel_btn"
                                        value="true"
                                        class="btn btn-default">
                                    Cancelar
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">Agregar líder</button>
                                <a class="btn btn-default" href="{% url 'leader_list' %}" role="button">
                                    Cancelar
                                </a>
                            {% endif %}
                            </div>
                        </div>
                        {% elif CRUD == 'R' and perms.swiep.read_leader %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ leader }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Miembro de</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if leader.member_of %}{{ leader.member_of.name }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de nacimiento</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if leader.birthdate %}{{ leader.birthdate }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Nacionalidad</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if leader.nationality %}{{ leader.nationality.name }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lugar de nacimiento</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if leader.hometown != '' %}{{ leader.hometown }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Residencia actual</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if leader.current_residence != '' %}{{ leader.current_residence }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Teléfono</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if leader.phone_number != '' %}{{ leader.phone_number }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if leader.email != '' %}{{ leader.email }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nivel máximo de educación</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if leader.maximum_education_level != '' %}{{ leader.maximum_education_level }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                            <label class="col-sm-2 control-label">Estudios teológicos</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">{% if leader.theological_studies != '' %}{{ leader.theological_studies }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Profesión</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if leader.profession != '' %}{{ leader.profession }}
                                                               {% else %}A confirmar {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Observación</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{% if leader.observation != '' %}{{ leader.observation }}
                                                               {% else %}Ninguna {% endif %}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                {% if perms.swiep.change_leader %}
                                <a href="{% url 'leader_update' id %}" class="btn btn-danger">Editar</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span class="panel-title">Ministerios</span>
                                {% if perms.swiep.add_churchleader %}
                                <a title="Agregar" class="btn btn-sm btn-primary pull-right"
                                   href="{% url 'churchleader_create_at_leader' id %}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                {% endif %}
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th><span class="pull-right">#</span></th>
                                            <th>Iglesia</th>
                                            <th>Cargo</th>
                                            <th colspan="3">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for elem in leader.churches.all %}
                                        <tr>
                                            <td><span class="pull-right"><strong>{{ forloop.counter }}</strong></span></td>
                                            <td>
                                                <a href="{% url 'church_read' elem.church.pk %}">
                                                    {{ elem.church|truncatechars:50 }}</a>
                                            </td>
                                            <td>{{ elem.ministry|truncatechars:50 }}</td>
                                            <td style="width:40px">
                                                <a href="{% url 'churchleader_read_at_leader' id elem.pk %}">
                                                    <span title="Ver" class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </td>
                                            {% if perms.swiep.change_churchleader %}
                                            <td style="width:40px">
                                                <a href="{% url 'churchleader_update_at_leader' id elem.pk %}">
                                                    <span title="Modificar" class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </td>
                                            {% endif %}
                                            {% if perms.swiep.delete_churchleader %}
                                            <td style="width:40px">
                                                <a href="{% url 'churchleader_delete_at_leader' id elem.pk %}">
                                                    <span title="Eliminar" class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td></td>
                                            <td><p>No hay ministerios para mostrar</p></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% elif CRUD == 'D' and perms.swiep.delete_leader %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ leader }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
                                <a class="btn btn-default" href="{% url 'leader_read' id %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endblock %}
