{% extends "base.html" %}
{% load staticfiles %}


{% block body %}
    <div class="container" style="margin-top: 40px">

        <h2 class="text-center" style="margin-bottom: 20px">{{ page_title }}</h2>

        {% block error_messages %}
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="messages">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Iniciar Sesión</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                            <fieldset>
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nombre de usuario" name="username" type="text"  maxlength="30" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña" name="password" type="password" value=""  maxlength="30" autocomplete="off" required>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                {# <a href="javascript:;" class="btn btn-sm btn-success">Login</a> #}
                                <button class="btn btn-lg btn-primary btn-sm btn-block1" type="submit">Entrar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->


{% endblock %}