{% extends "base.html" %}
{% load geojson_tags %}

{% block css %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
    <style>
        html,body { width:100%; height:100% }
        #map {
            width:100%;
            height: 90%; {# Fallback for browsers not supporting calc() #}
            height: calc(100% - 40px);
            z-index: 1
        }
        {# z-index of map has to be anything < 1000 so the +- buttons don't overlap the nav dropdown #}
        {# on mobile views. The navbar-collapse apparently has z-index: 1000.  #}
        {# P.S.: It only works on position'ed elements. google.com/?q=mdn+Adding+z-index #}
        .navbar-nav > li > a, .navbar-brand {
            padding-top: 10px !important; padding-bottom:0 !important;
            height: 40px;
        }
        .navbar-toggle {
            margin-top: 6px;
            margin-bottom: 6px;
            padding: 6px;
        }
        .navbar {min-height:40px !important;}
    </style>
{% endblock %}

{% block body %}
    <div style="height: 40px;">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        SWIEP <small>v0.1</small>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{% url 'map' %}">Mapa</a></li>
                        <li><a href="{% url 'home' %}">Datos</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{% url 'change_password' user.pk %}">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                        Cambiar contraseña
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <span class="glyphicon glyphicon-off"></span>
                                        Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}" title="Iniciar sesión">
                                <span class="glyphicon glyphicon-off"></span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>

    <div id="map"></div>

	<script type="text/javascript">
		var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		});

		var map = L.map('map').addLayer(tiles);

        {% if churches %}
        var geoJsonData = {{ churches|geojsonfeature:'name,address,pk:map_location:'|safe }};

		var markers = L.markerClusterGroup();

		var geoJsonLayer = L.geoJson(geoJsonData, {
			onEachFeature: function (feature, layer) {
                layer.bindPopup('<b>'+feature.properties.name+'</b><br>'+
                                feature.properties.address+'<br>'+
                                '<a href="/churches/'+feature.properties.pk+'/">Ver más datos</a>');
			}
		});
		markers.addLayer(geoJsonLayer);
		map.addLayer(markers);
		map.fitBounds(markers.getBounds(), { padding: [40, 40] });
        {% else %}
        map.setView([-24.171813716251364, -58.50769042968749], 6);
        {% endif %}
	</script>

{% endblock %}