{% extends "workspace.html" %}

        {% block workspace %}
            <div class="row">
            {% if not error_message %}
            {% block data_panels %}
            {% endblock %}
            {% for key, val in dash.items %}
                {% if val.perm_to_list in sgp_perms %}
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title" href="{{ val.url }}">{{ val.title }}</a>
                            {% if val.perm_to_create in sgp_perms %}
                            <a title="Agregar" class="btn btn-sm btn-primary pull-right" href="{{ val.create_url }}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            {% endif %}
                        </div>
                        <table class="table table-hover panel-table-scrollable">
                            <tbody>
                            {% for elem in val.list %}
                                <tr>
                                {% if val.perm_to_view in sgp_perms %}
                                    <td>
                                        <a href="{{ val.view_url }}{{ elem.pk }}/">
                                            {{ elem.name }}
                                        </a>
                                    </td>
                                {% else %}
                                    <td>{{ elem.name }}</td>
                                {% endif %}
                                    <td>
                                    {% if val.perm_to_delete in sgp_perms and elem.can_be_deleted %}
                                        <a href="{{ val.delete_url }}{{ elem.pk }}/">
                                            <span title="Eliminar" class="glyphicon glyphicon-remove pull-right"></span>
                                        </a>
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {% if not val.list %}
                                <tr>
                                    <td><p>{{ val.if_empty }}</p></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% else %}
                <div class="col-sm-6 col-md-4">
                    <h4>{{ error_message }}</h4>
                </div>
            {% endif %}
            </div>
        {% endblock %}
