{% extends 'workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Denominaciones</span>
                            {% if perms.swiep.add_denomination %}
                            <a title="Agregar" class="btn btn-sm btn-primary pull-right" href="{% url 'denomination_create' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                {% for elem in denominations %}
                                    <tr>
                                        <td><span class="pull-right"><strong>{{ forloop.counter }}</strong></span></td>
                                        <td>{{ elem.name|truncatechars:50 }}</td>
                                        {% if perms.swiep.delete_denomination %}
                                        <td>
                                            <a href="{% url 'denomination_delete' elem.pk %}">
                                                <span title="Eliminar" class="glyphicon glyphicon-remove pull-right"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td><p>No hay denominaciones para mostrar</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Idiomas</span>
                            {% if perms.swiep.add_language %}
                            <a title="Agregar" class="btn btn-sm btn-primary pull-right" href="{% url 'language_create' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                {% for elem in languages %}
                                    <tr>
                                        <td><span class="pull-right"><strong>{{ forloop.counter }}</strong></span></td>
                                        <td>{{ elem.name|truncatechars:50 }}</td>
                                        {% if perms.swiep.delete_language %}
                                        <td>
                                            <a href="{% url 'language_delete' elem.pk %}">
                                                <span title="Eliminar" class="glyphicon glyphicon-remove pull-right"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td><p>No hay idiomas para mostrar</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
