{% extends 'workspace.html' %}
{% load bootstrap_tags %}
{% load leaflet_tags %}
{# Maybe use http://stackoverflow.com/a/27239186 instead of django-forms-bootstrap #}
{# More ideas to tweak form with css: http://stackoverflow.com/a/18962481 #}
{# Put leaflet tags for map_location field: https://github.com/makinacorpus/django-leaflet#in-forms #}

{% block css %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block javascript %}
    {{ block.super }}
    {% leaflet_js plugins="forms" %}
{% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10 col-xs-12">
                    <form class="form-horizontal" action="." method="post" novalidate>
                        {% csrf_token %}

                        {% if CRUD == 'C' %}
                        {% if perms.swiep.add_denomination or perms.swiep.add_language %}
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                            {% if has_hidden_data %}
                                <button type="submit"
                                        name="from_{{ object_type }}_save_btn"
                                        value="true"
                                        class="btn btn-primary">
                                    Agregar {{ model }}
                                </button>
                                <button type="submit"
                                        name="from_{{ object_type }}_cancel_btn"
                                        value="true"
                                        class="btn btn-default">
                                    Cancelar
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">Agregar {{ model }}</button>
                                <a class="btn btn-default" href="{% url 'other_list' %}" role="button">
                                    Cancelar
                                </a>
                            {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        {% elif CRUD == 'D' %}
                        {% if perms.swiep.delete_denomination or perms.swiep.delete_language %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ elem.name }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-danger">Confirmar eliminación</button>
                                <a class="btn btn-default" href="{% url 'other_list' %}" role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endblock %}
