{% extends 'workspace.html' %}
{% load bootstrap_tags %}
{% load leaflet_tags %}
{# Maybe use http://stackoverflow.com/a/27239186 instead of django-forms-bootstrap #}
{# More ideas to tweak form with css: http://stackoverflow.com/a/18962481 #}
{# Put leaflet tags for map_location field: https://github.com/makinacorpus/django-leaflet#in-forms #}

{% block css %}
    {{ block.super }}
    {% leaflet_css plugins="forms" %}
{% endblock %}
{% block javascript %}
    {{ block.super }}
    {% leaflet_js plugins="forms" %}
{% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8 col-md-10 col-xs-12">
                    <form class="form-horizontal" action="." method="post" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ usr.username }}</p>
                            </div>
                        </div>
                        {{ form|as_bootstrap_horizontal }}
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                <a class="btn btn-default"
                                   {% if perms.auth.change_user %}
                                   href="{% url 'user_read' id %}"
                                   {% else %}
                                   href="{% url 'management' %}"
                                   {% endif %}
                                   role="button">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
