{% extends "workspace.html" %}

        {% block title_breadcrumbs %}
            <h1>{{ page_title }}</h1>
            <ol class="breadcrumb">
            {% for b in breadcrumb %}
                <li><a title="{{ b.0 }}" href="{{ b.1 }}">{{ b.0|truncatechars:20 }}</a></li>
            {% endfor %}
                <li>{{ page_title }}</li>
            </ol>
        {% endblock %}

        {% block workspace %}
            <div class="row">
                <div class="col-sm-6 col-md-8">
                    <div class="row">
                    Página en construcción
                    </div>
                </div>
            </div>
        {% endblock %}
