{% extends 'workspace.html' %}

        {% block workspace %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Usuarios</span>
                            {% if perms.auth.add_user %}
                            <a title="Agregar" class="btn btn-sm btn-primary pull-right" href="{% url 'user_create' %}">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            {% endif %}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><span class="pull-right">#</span></th>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        {% if perms.auth.change_user %}
                                        <th width="40"></th>
                                        {% endif %}
                                        {% if perms.auth.delete_user %}
                                        <th width="40"></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for elem in users %}
                                    <tr>
                                        <td><span class="pull-right"><strong>{{ forloop.counter }}</strong></span></td>
                                        <td>
                                            <a href="{% url 'user_read' elem.pk %}">{{ elem.username|truncatechars:50 }}</a>
                                        </td>
                                        <td>{{ elem.email|truncatechars:50 }}</td>
                                        {% if perms.auth.change_user %}
                                        <td>
                                            <a href="{% url 'user_update' elem.pk %}">
                                                <span title="Modificar" class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                        {% if perms.auth.delete_user %}
                                        <td>
                                            <a href="{% url 'user_delete' elem.pk %}">
                                                <span title="Eliminar" class="glyphicon glyphicon-remove pull-right"></span>
                                            </a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td></td>
                                        <td><p>No hay usuarios para mostrar</p></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><p>This shouldn't be happening. Please contact Tech Support.</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
