{% extends "base.html" %}

    {% block css %}
    <link href="/static/swiep/css/main.css" rel="stylesheet">

    <style>
        html,body { width:100%; height:100% }

        .navbar-nav > li > a, .navbar-brand {
            padding-top: 10px !important; padding-bottom:0 !important;
            height: 40px;
        }
        .navbar-toggle {
            margin-top: 6px;
            margin-bottom: 6px;
            padding: 6px;
        }
        .navbar {min-height:40px !important;}
    </style>
    {% endblock %}

    {% block body %}
    <div style="height: 40px;">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        SWIEP <small>v0.1</small>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'map' %}">Mapa</a></li>
                        <li class="active"><a href="{% url 'home' %}">Datos</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ user.username }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{% url 'change_password' user.pk %}">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                        Cambiar contraseña
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <span class="glyphicon glyphicon-off"></span>
                                        Cerrar sesión
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}" title="Iniciar sesión">
                                <span class="glyphicon glyphicon-off"></span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>

        <div class="container workspace">
        {% block title_breadcrumbs %}
            <h1>{{ page_title }}</h1>
            <ol class="breadcrumb">
            {% for b in breadcrumb %}
                <li><a title="{{ b.0 }}" href="{{ b.1 }}">{{ b.0|truncatechars:20 }}</a></li>
            {% endfor %}
                <li>{{ page_title }}</li>
            </ol>
        {% endblock %}

        {% block error_messages %}
            <div class="row">
                <div class="col-md-8">
                    <div class="messages">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span>&times;</span>
                            </button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block workspace %}
        {% endblock %}
        </div><!-- /.container -->
    {% endblock %}
