.workspace {
    padding-top: 0;
    padding-bottom: 30px;
}

.workspace .panel-title {
    font-size: 19px;
    width: auto;
    margin-right: 60px;
    color: #333;
}

.workspace .table a {
    color: #333;
}

.workspace table .glyphicon-remove {
    margin-right: 15px;
}

.workspace .assignments select {
    width: 100%;
    min-height: 200px;
}

/* Little fix for django-forms-bootstrap. Showing errors in errors in red */

.has-error .error-msg {
    color: #a94442;
}

.btn-assign {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.btn-assign + .btn-assign {
    margin-top: 10px;
}

.btn-assign .btn {
    width: 100%;
}

#sprint-us-assign-info {
    margin-top: -20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .assignments label {
      padding-left: 10px;
    }
}

.overflow-y-200 {
    overflow-y: auto;
    max-height: 200px;
}

.menu-item {
    background-color: #5f021f;
}

.menu-item a {
    color: #fff;
}

.menu-item .menu-title {
    font-size: 28px;
}

.menu-item .panel-body {
    padding: 12px;
}

.menu-project {
    margin-bottom: 20px;
}

.breadcrumb {
    /* Para tener un fondo blanco
       y para alinear el texto con el header */
    background-color: initial;
    padding-left: 2px;
    /* margin-bottom: 30px; */
}

.form-horizontal .control-label {
    text-align: left;
}

.crud-access-info {
    margin-top: 35px;
    color: #777777;
}

.activity-container {
    white-space: nowrap;
    overflow-x: scroll;
}

.panel-activity {
    display: inline-block;
    white-space: normal;
    width: 400px;
    margin-right: 20px;
}

.panel-activity .table {
    min-height: 305px;
}

.panel-activity .table th {
    height: 30px;
    min-width: 110px;
}

.panel-activity .panel-heading {
    font-size: 16px;
}

.panel-activity .panel-body {
    padding: 5px 10px;
}

.panel-activity .panel-body p {
    margin-bottom: 2px;
}

#us-list .search-panel {
    margin-right: 10px;
}

.panel-heading a.btn-primary {
    margin-left: 10px;
}

#us-list .has-feedback .form-control {
    padding-right: 30px;
}

/* CSS from http://www.michaelperrin.fr
/2014/10/25/clear-input-control-bootstrap-3/ */
#us-list .has-feedback .form-control-feedback {
    margin-right: 33px;
    cursor: pointer;
    /* bootstrap disables pointer-events
       on this item by default */
    pointer-events: auto;
}

/* For IE disable browser specific clear button */
input::-ms-clear {
        display: none;
    }

#us-list #description, #us-list #priority, #us-list #business-value,
#us-list #technical-value, #us-list #est-delivery-date, #us-list #est-work-duration  {
    cursor: pointer;
}

/*
 Hack to make table inside boostrap panel scrollable
 without breaking boostrap's layout
 See: http://stackoverflow.com/a/22855568
*/

.panel-table-scrollable {
    width: 100%
}

.panel-table-scrollable > thead,
.panel-table-scrollable > tbody,
.panel-table-scrollable > thead > tr,
.panel-table-scrollable > tbody > tr,
.panel-table-scrollable > thead > tr > th,
.panel-table-scrollable > tbody > tr > td {
    display: block;
}

.panel-table-scrollable > tbody > tr:after,
.panel-table-scrollable > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.panel-table-scrollable > tbody {
    overflow-y: auto;
    /* height has to be (row-count*37-1) to fit exactly */
    max-height: 295px;
}

/* Only works with 2 columns. The first will have 80% width the second 20% */

.panel-table-scrollable > tbody > tr > td:first-of-type,
.panel-table-scrollable > thead > tr > th:first-of-type {
    width: 80%;
    float: left;
}

.panel-table-scrollable > tbody > tr > td + td,
.panel-table-scrollable > thead > tr > th + th {
    width: 20%;
    float: left;
}

form .leaflet-draw-section .leaflet-draw-edit-edit,
form .leaflet-draw-section .leaflet-draw-edit-remove
{
    display: none;
}


