body {
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #f1f1f1;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .my-label {
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#inputPassword {
    margin-top: 6px;
}

#inputPassword2 {
    margin-top: 6px;
}

.messages {
    height: 80px;
    max-width: 440px;
    padding: 0 30px;
    margin: 80px auto 0 auto;
}

nav .navbar-text {
    float: none;
}

nav .navbar-text a:hover, nav .navbar-text a:focus {
    text-decoration: none;
}

.btn-inline2 {
  width: 48%;
  margin-top: 10px;
}
.btn-inline2 + .btn-inline2 {
  margin-left: 6px;
}
